<article>
  <h1><a href="/offers/{{ id }}">{{ title }}</a></h1>

  <img src="{{# images }}{{ small }}{{/ images }}" />

  {{{ sales_pitch }}}

  Offer running from {{ start_date }} to {{ end_date }}.
</article>
