<div id="offers">
  <h1>All Current Offers</h1>

  <form action="/offers/" method="GET">
    <label for="offer_id">Jump to offer #</label>
    <input id="offer_id" placeholder="Offer ID" name="offer_id" />
    <button type="submit">Go</button>
  </form>

  {{# offers }}
    {{> offer_info }}
  {{/ offers }}

  {{^ offers }}
    <h2>No offers are currently running.</h2>
  {{/ offers }}
</div>


