<!DOCTYPE html>
<html>
<head>
  <title>Plum District API WWW Client Test</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Plum District</h1>
    <h2>API Test</h2>
  </header>

  <div id="content">
  	<div class="sliver_container_top">&nbsp;</div>
    <%= yield %>
  </div>
</body>

</html>
